In [25]:
import pandas as pd
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df.head()

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [26]:
#Question 1

df_1 = df[df['CRASH DATE_CRASH TIME'].dt.year >= 2012]
df_1.groupby('BOROUGH').size().sort_values(ascending=False)

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
dtype: int64

In [27]:
#Question 2

import pandas as pd

df_2 = df[df['CRASH DATE_CRASH TIME'] >= '2012-07-01']
crashes_by_borough = df_2.groupby('BOROUGH').size()
print(crashes_by_borough)

populations = {
    'Bronx': 1446788,
    'Brooklyn': 2648452,
    'Manhattan': 1638281,
    'Queens': 2330295,
    'Staten Island': 487155
}

Br=205345/1446788*100000
Bk= 441026/2648452*100000
Mh= 313266/1638281*100000
Qs=372457/2330295*100000
SI=58297/487155*100000

print(max(Br, Bk, Mh, Qs, SI))
print(Br, Bk, Mh, Qs, SI)

#Step 1: Filtering the data by time to find the crashes after July 2012.
#Step 2: Grouping by the count of crashes by borough.
#Step 3: Divide the count of crashes of each borough by population, then multiply by 100,000 to get the results.

BOROUGH
BRONX            205345
BROOKLYN         441026
MANHATTAN        313266
QUEENS           372457
STATEN ISLAND     58297
dtype: int64
19121.628096767283
14193.164444272415 16652.2179748774 19121.628096767283 15983.255338916317 11966.827806345003

In [28]:
#Question 3
df_3 = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
counts = df_3['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

leading_cause = counts.idxmax()

max_proportion = counts.max() / df_3.shape[0]

print (leading_cause,max_proportion)

Driver Inattention/Distraction 0.3027229539746618

In [29]:
#Question 4

df_3 = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
counts = df_3['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

counts[:5].sum() / df_3.shape[0]

0.5776082999059229

In [30]:
#Question 5

two_or_more_fatalities = df[df['NUMBER OF PERSONS KILLED'] >= 2]
two_or_more_fatalities.shape[0]

88

In [31]:
#Question 6
total_accidents = df.shape[0]
accidents_with_deaths = df[df['NUMBER OF PERSONS KILLED'] >= 1].shape[0]

(accidents_with_deaths / total_accidents) * 1000

1.3893258747079764

In [32]:
#Question 7
proportion_missing_cross_street = df['CROSS STREET NAME'].isna().sum()/ df.shape[0]
proportion_missing_cross_street * 100

37.4350983156158

In [33]:
#Question 8

df['Vehicle_Comb'] = df['VEHICLE TYPE CODE 1'] + ' & ' + df['VEHICLE TYPE CODE 2']
combinations = df['Vehicle_Comb'].value_counts()

combinations.idxmax()

'Sedan & Sedan'

In [38]:
#Question 9
alcohol_crashes = df[df['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement']
alcohol_crashes[alcohol_crashes['NUMBER OF PERSONS KILLED'] > 0].shape[0]/alcohol_crashes.shape[0]

0.0046638345031400075

In [35]:
#Question 10
evening_crashes = df[(df['CRASH DATE_CRASH TIME'].dt.hour >= 16) & (df['CRASH DATE_CRASH TIME'].dt.hour < 19)]
evening_crashes.shape[0]/df.shape[0]*100

20.514010935243242

In [36]:
#Question 11
moto_crashes = df[
    (df['VEHICLE TYPE CODE 1'].str.contains('MOTORCYCLE', na=False)) |
    (df['VEHICLE TYPE CODE 2'].str.contains('MOTORCYCLE', na=False))
]

only_injuries = moto_crashes[
    (moto_crashes['NUMBER OF PERSONS INJURED'] > 0) &
    (moto_crashes['NUMBER OF PERSONS KILLED'] == 0)
]

only_injuries.shape[0] / motor_crashes.shape[0]

0.5004565018912221

In [37]:
#Question 12
bicycle_crashes = df[(df['VEHICLE TYPE CODE 1'] == 'BICYCLE') | (df['VEHICLE TYPE CODE 2'] == 'BICYCLE')]
bicycle_crashes.shape[0]

19108